* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

nav .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover {
    background-color: lightblue;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 20px 150px;
}

img {
    width: 400px;
    height: 300px;
    flex: 0 1 auto;
}

.awesome {
    flex: 0 1 400px;
}

.awesome h1 {
    font-size: 48px;
}

.awesome button {
    background-color: #3882F6;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 20px;
}

section .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    min-height: 300px;
}

.box div {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.boxes {
    display: flex;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: extra-bold;
}

.container2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: center;
    padding: 0 250px;
}

.container2 .quote {
    font-size: 36px;
    font-style: italic;
}

.container2 .thor {
    align-self: flex-end;
    font-weight: bold;
}

.container3 {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    height: 100px;
    width: 1150px;
    display: flex;
    background-color: #3882F6;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    gap: 200px;
}

.action button {
    background-color: #3882F6;
    border: 2px solid white;
    padding: 4px 20px;
    border-radius: 10px;
    color: white;
}

.copyright {
    background-color: #1F2937;
    color: white;
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
